//chat background
.chart_background{
    background-image: url('../images/feature_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
   width: 100%;
    margin: 0px auto;
    button{
        background-color: #00affd;
        border: none;
        outline: none;
        padding: 5px 10px;
        color: #fff;
        margin: 25px 0;
        border-radius: 7px;
        
    }
} 
//content_box_in-dashboard
.content_here{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    h3{
        margin: 15px 0px;
        text-transform: capitalize;
        font-weight: 500;
        color: #00affd;
    }
}
//dashboard
.user_info {
    display: flex;
    width: 100%;
}
//navigation_in_dashboard
.aside_menu {
    width: 20%;
        height: 100vh;
        background-color: #f7f7f7;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 30px;
        nav ul li{
            color: #00affd;
            margin: 10px 0px;
            padding: 10px;
            text-align: justify;
            display: flex;
            align-items: center;
        } .icon{
            margin-right: 10px;
        } button{
            color: #00affd;
            border: none;
            outline: none;
            background: none;
        }
}

//Register

.register_user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .feature_image {
            background-image: url("../images/feature_img.jpg");
            background-color: #f7f7f7;
            width: 50%;
            height: 100vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
        } p{
            color: #8492a6;
        }
        .signup_form {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            border: 1px solid #dfdede;
         
            span:first-child{
                font-size: 28px;
                font-weight: 500;
            }
            .account_form{
                width: 50%;       
                p{
                    color: tomato;
                    margin: 10;
                    font-size: medium;
                }
            }
            .form-group label{
                margin: 10px 0px;
                color: #8492a6;
            }.form-group .check_box{
                color: black;
                font-weight: 500;
                margin-left: 20px;
            }.user_connection {
                display: block;
                color: rebeccapurple;
                margin: 5px 0px;
               .login_page{
                    text-decoration: none;
                    margin-left: 7px;
                }
            }
            .btn_group{
               .account_btn, .goggle_btn{
            background-color: #00affd;
            border: none;
            outline: none;
            padding: 5px 15px;
            border-radius: 5px;
            color: #f7f7f7;
            margin: 10px 0px;
               } .goggle_btn{
                   margin-left: 20px;
               }
            }
        }
}

