
.register_user{
  /* background-color: #f7f7f7;  */
  width: 100%;
}

.feature_image{
    background-image: url("../../images/feature_img.jpg");
    background-color: #f7f7f7;
        width: 50%;
        height: 100vh;
        background-position: center; 
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
}
.feature_image p{
  color: #8492a6;
}
.signup_form{
    width: 50%;
}